@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainblock {
  background: #de2b24;
  min-height: 100vh;
  position: relative;
  height: max-content;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.mainblock .mainblock__content {
}

.mainblock__content .container {
}
.container .mainblock__text {
  padding-top: 110px;
  color: #fff;
  line-height: 0.9;
  text-align: center;
  position: relative;
  padding-bottom: 17px;
}

.mainblock__text::after {
  content: "";
  width: 47px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  margin-left: -23px;
  bottom: 0;
}
.mainblock__text .mainblock__title {
  font-size: 36px;
  font-weight: 900;
}

.mainblock__text .mainblock__subtitle {
  font-size: 26px;
  font-weight: 300;
}

.container .mainblock__featured_works {
  margin: 47px 0 47px 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.works__column {
  position: relative;
  min-height: 370px;
  height: 500px;
  width: 250px;
}

.works__column a {
  text-decoration: none;
}

.works__column .works__item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 94, 89);
  height: 50%;
  text-align: center;
  color: #fff;
}

.works__item__text:hover {
  background-color: rgba(196, 81, 77, 0.85);
}

.works__item__text .item__text__logo {
  /* padding-top: 25%; */
}

.works__item__text .item__text__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.2;
}

.works__item__text .item__text__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.works__column .works__item__photo {
  height: 50%;
  overflow: hidden;
}
.works__column .works__item__photo img {
  display: block;
  width: 100%;
  height: inherit;
  transition: transform 0.5s;
  object-fit: cover;
}
.works__item__photo img:hover {
  transform: scale(1.1);
}

/* Facebook analysis blue section */

.facebook__analysis {
  background: #1287bf;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  height: max-content;

  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.analysis__content {
}

.analysis__content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .analysis__text {
  margin-top: 100px;
  padding: 0;
  color: #fff;
  line-height: 1;
  text-align: center;
  position: relative;
  padding-bottom: 18px;
}

.analysis__text .analysis__title {
  font-size: 36px;
  font-weight: 500;
}

.analysis__text .analysis__subtitle {
  font-size: 21px;
  font-weight: 300;
}

.analysis__text a {
  margin: 18px 0 0 0;
  display: inline-block;
  border-radius: 50%;
}

.analysis__text a:hover .btn__show__more {
  border: 2px solid #fff;
}
.analysis__text a:hover .btn__show__more:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.btn__show__more {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 50px;
}

.btn__show__more:after {
  content: "";
  display: inline-block;
  margin-top: 25%;
  width: 13px;
  height: 13px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.detailes__form::before {
  content: "";
  display: block;
  border: 30px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  margin: -58px;
}

.detailes__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  width: 65%;
  background-color: #fff;
}
.detailes__form .form__desc {
  margin: 0 50px 50px 50px;
  color: #828282;
  font-size: 13px;
  text-align: center;
}

.form {
}

.form form {
  padding: 0 15% 10% 15%;
  text-align: center;
}

.form form input[type="text"],
select {
  width: 100%;
  height: 50px;
  padding: 18px 25px;
  margin: 5px 0;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
}

form input[type="text"]:focus {
  border: 2px solid rgb(18, 135, 191);
}

.form form input[type="tel"],
select {
  width: 100%;
  height: 50px;
  padding: 18px 25px;
  margin: 5px 0;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
}

form input[type="tel"]:focus {
  border: 2px solid rgb(18, 135, 191);
}

.form form input[type="submit"] {
  background-color: #de2b24;
  color: white;
  padding: 17px 30px;
  margin-top: 37px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}

.form form input[type="submit"]:hover {
  background-color: #de2a24a7;
}

.close__form {
  position: relative;
  left: 50%;
  top: -22.5px;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #fff;
  background-color: #de2b24;
  border-radius: 50%;
}

.close__form:hover {
  opacity: 1;
  border-width: 2px;
}
.close__form:before,
.close__form:after {
  position: absolute;
  margin: 7px 0 10px 21.5px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close__form:before {
  transform: rotate(45deg);
}

.close__form:after {
  transform: rotate(-45deg);
}

/* Social networks GREY AREA 3th scren */

.get__in__touch {
  background: #2a2a2a;
  position: relative;
  overflow: hidden;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.get__in__touch .container {
}

.get__in__touch__title {
  margin: 90px 0 0 0;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  line-height: 0.759;
  text-align: center;
}

.touch__social__networks {
  margin: 31px 0 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.networks__logo {
  position: relative;
  margin: 0 24px 0 0;
  padding: 20px;
  width: 15px;
  height: 15px;
  border: 3px solid #515151;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.networks__logo:hover {
  border: 2px solid #de2b24;
}

.networks__logo img {
  display: block;
  object-fit: fill;
}

.get__int__touch__mail_title {
  margin: 38px 0 0 0;
  font-size: 18px;
  color: #cecece;
  font-weight: 400;
  text-align: center;
}

.mail__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail__form form {
  width: 44%;
  text-align: center;
}

.mail__form form input[type="email"] {
  width: 100%;
  padding: 22px 22px;
  margin-top: 31px;
  border: 1px solid #515151;
  background-color: #515151;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.mail__form form input[type="email"]:focus {
  border: 1px solid #de2b24;
  background-color: #363636;
}

.mail__form form input[type="submit"] {
  background-color: #2a2a2a;
  color: white;
  padding: 18px 34px;
  position: relative;
  border: 3px solid #515151;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 750;
  font-size: large;
}

.mail__form form input[type="submit"]:hover {
  background-color: #5f5f5f;
}

/* Footer */

footer {
  text-align: center;
  padding: 20px;
  background-color: #515151;
  color: #cecece;
}

footer a {
  color: #cecece;
  text-decoration: none;
}
